@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@tailwind base;
@tailwind components;
@tailwind utilities;  

body{
	font-family: 'Montserrat';
	font-weight: 500;
	@apply text-base;
	@screen md {
		@apply text-xl;
	}
    @apply font-normal;
}

h1 {
    @apply text-6xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

.text-secondary{
	text-shadow: -1px 0px 4px #009244, 1px 1px 4px #009244;
}

.bg-neutral{
	background: -webkit-linear-gradient(-45deg, #00cc69 0%,#009944 50%,#009947 51%,#009245 100%);
	background: linear-gradient(135deg, #00cc69 0%,#15a053 50%,#1ca25a 51%,#029245 100%);
}

#about{
    background-position: left 26%;
}

.about-text{
	top: 50px;
}

#how-to{
	background-position: 65% center;
}

header{
	z-index:10;
}
